/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*UNIVERSAL STYLES*/ 
body {
    font-family: "Roboto", sans-serif; 
}

.container{
    max-width: 1080px;
    margin: 0 auto; 
}

h2 {
    padding: 1.4rem 0; 
}

main{
    color: #333; 
    padding: 40px; 
}

.btn {
    text-decoration: none; 
    background-color: #fff; 
    border-radius: 4px; 
    padding: 10px; 
    margin: 20px; 
}

.main-header {
    background-image: linear-gradient(90deg, #42275a, #734b6d); 
    width: 100%; 
    height: 60vh; 
    color: #fff; 
}

.main-header h1, p {
    text-align: center; 
}

.main-header p {
    font-style: italic;
}

.main-header h1{
    padding-top: 166px; 
    font-size: 2.4rem; 
}

.main-header p{
    padding-top: 10px; 
    font-size: 1.2rem; 
}

main p {
    line-height: 1.7;
    text-align: justify; 
}

.buttons {
    display: flex; 
    justify-content: center; 
}

section {
    width: 600px; 
    margin: 0 auto; 
}

.intro-info, #html-info, #css-info{
    width: 100%; 
}

table {
    margin: 30 auto; 
}

.table-box {
    margin: 40px 0; 
}

td,th {
    border: 1px solid #dddddd; 
    padding: 8px; 
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

table {
    border-collapse: collapse; 
}

footer {
    background-image: linear-gradient(90deg, #42275a, #734b6d); 
    width: 100%; 
    padding: 30px; 
    color: #fff;  
}